// SCSS file for the color palette used throughout the application
// import in other files like this : @import './path-to-dir/colors'

$orange: #FF6700;
$lightGray: #EBEBEB;
$gray: #C0C0C0;
$lightBlue: #3A6EA5;
$midBlue: #004E98;
$darkBlue: #0D3459;