#sidebar-wrapper
{
    background-color: var(--lightblue);
    padding: 15px 0px;
    font-size: 16px;
}

#sidebar-wrapper ul li
{
    padding-left: 20px;
    height: 40px;

    color: var(--darkblue);
}

#sidebar-wrapper ul li:hover
{
    cursor: pointer;
    background-color: var(--orange);
}

#sidebar-wrapper a
{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 100%;

    color: var(--darkblue);
}

#sidebar-wrapper a:hover
{
    text-decoration: none;
}