
.success-message, .error-message{

    position: fixed;
    top: 1rem;
    padding: 1rem 2rem;
    color: white;
    border-radius: .5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}

.error-message{
    background-color: #dc3545;;
}

.success-message{
    background-color: #28a745; 
    border-radius: .5rem;
}