<nav id="sidebar-wrapper" class="col-lg-1"> <!-- 1 unit wide column -->
    <ul class="sidebar-nav pl-1 text-center text-md-left">
        <li><a href="/Management/deliveries.php">Deliveries</a></li>
        <li><a href="/Management/lostpackages.php">Lost Packages</a></li>
        <li><a href="/Management/complaints/dashboard.php">Complaints</a></li>
        <li>
            <ul>
                <li><a href="/Management/complaints/dashboard.php">Dashboard</a></li>
                <li><a href="/Management/complaints/opencomplaints.php">Open Complaints</a></li>
                <li><a href="/Management/complaints/closedcomplaints.php">Closed Complaints</a></li>
                <li><a href="/Management/complaints/registercomplaint.php">Register Complaint</a></li>
            </ul>
        </li>
    </ul>
</nav>