<nav id="sidebar-wrapper" class="col-xl-2 col-md-3 text-md-left text-center p-0">
    <h3 class="pt-2 pl-2">Navigation</h3>
    <ul class="sidebar-list pt-1 pl-2 text-md-left text-center">
        <li><a href="/TMDN-PE2-App2/Management/orders.php">Orders</a></li>
        <li><a href="/TMDN-PE2-App2/Management/deliveries.php">Deliveries</a></li>
        <li><a href="/TMDN-PE2-App2/Management/lostpackages.php">Lost Packages</a></li>
        <li class="collapselink"><a href="#">Complaints</a></li>
        <li>  
            <ul>
                <li><a href="/TMDN-PE2-App2/Management/complaints/statistics.php">Statistics</a></li>
                <li><a href="/TMDN-PE2-App2/Management/complaints/registercomplaint.php">Register Complaint</a></li>
                <li><a href="/TMDN-PE2-App2/Management/complaints/opencomplaints.php">Open Complaints</a></li>
                <li><a href="/TMDN-PE2-App2/Management/complaints/closedcomplaints.php">Closed Complaints</a></li>
            </ul>
        </li>
    </ul>
</nav>