<nav id="sidebar-wrapper" class="col-lg-1"> <!-- 1 unit wide column -->
    <ul class="sidebar-nav pl-1 text-center text-md-left">
        <li><a href="/Management/orders.php">Orders</a></li>
        <li><a href="/Management/deliveries.php">Deliveries</a></li>
        <li><a href="/Management/lostpackages.php">Lost Packages</a></li>
        <li id="collapselink"><a href="#">Complaints</a></li>
        <li id="collapselist">  
            <ul>
                <li><a href="/Management/complaints/statistics.php">Statistics</a></li>
                <li><a href="/Management/complaints/registercomplaint.php">Register Complaint</a></li>
                <li><a href="/Management/complaints/opencomplaints.php">Open Complaints</a></li>
                <li><a href="/Management/complaints/closedcomplaints.php">Closed Complaints</a></li>
            </ul>
        </li>
    </ul>
</nav>