html, textarea, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formError {
  color: #cc3838;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-bar {
  background-color: #0D3459;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .left i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nav-bar .right {
  color: white;
  padding-right: 2rem;
}

.nav-bar .right span {
  padding-left: .2rem;
}

.nav-bar h1 {
  color: white !important;
  font-size: 23px;
  padding: 0rem 1.5rem;
}

h1, label, input, textarea {
  color: #0D3459;
}

textarea {
  resize: none;
}

input[type=submit] {
  background-color: #FF6700;
  border: none;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem 3rem;
  border: 1px solid #FF6700;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

input[type=submit]:hover {
  background-color: unset;
  color: #0D3459;
}

input, textarea {
  border: 1px solid #0D3459;
  padding: .5rem .2rem;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .absence-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  height: 90vh;
}

.wrapper .absence-container form {
  width: 500px;
}

.wrapper .absence-container form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.wrapper .absence-container form .row:last-of-type {
  margin-bottom: 0rem;
}

.wrapper .absence-container form .row label {
  margin-bottom: .5rem;
}

.rt {
  position: absolute;
  top: 1rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: .5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #dc3545;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .absence-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding: 4rem 2rem;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .wrapper .absence-container form {
    width: 100%;
  }
  .wrapper .absence-container form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  .wrapper .absence-container form .row:last-of-type {
    margin-bottom: 0rem;
  }
  .wrapper .absence-container form .row label {
    margin-bottom: .5rem;
  }
}
/*# sourceMappingURL=absences.css.map */