@import 'colors.scss';

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $darkBlue;
}

.inactive{
    opacity: .3;

    &:hover{
        opacity: .3 !important;
    }
}

.container{
    padding: 5rem 2rem;
}


.start,.stop{

    background-color: $orange;
    border: none;
    color: white;
    align-self: center;
    padding: 1rem 2rem;

    cursor: pointer;
    border-radius: 2rem;
    transition: .3s linear;

    &:hover{
        opacity: .5;
    }
}

.start:disabled, .stop:disabled{
    opacity: .4;
    cursor: auto;
}

.start{
    background-color: rgb(55, 175, 55);
    border: 1px solid rgb(55, 175, 55);
}

.stop{
    background-color: rgb(226, 68, 68);
    border: 1px solid rgb(226, 68, 68);

}

.action{
    border-bottom: 3px solid $lightBlue;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        font-weight: 600;
        font-size: 32px;
    }
}

.current{
    background-color: $midBlue;
    color: white;
    box-shadow: 0px 2px 4px 0px black;
}
.current, .general, .last{
    padding: 1.5rem 1rem;
    margin: 1rem 0rem;

}

.general{
    background-color: $lightGray;
}

.last{
    background-color: $lightBlue;
    color: white;
}
.stats{
    padding: 1rem 0rem;
    p{
        margin: .5rem 0;
    }
    h1{
        font-size: 30px;
        margin-bottom: .7rem;
        
    }

    .stat-container{
        padding-top: 1rem;
        display: flex;
        .stat{
            display: flex;
            margin-right: 3rem;
            label{
                margin-right: .5rem;
                word-break: break-all;

            }
            span{
                font-weight: 700;
                word-break: break-all;
            }
        }
    }
    
    .title{
        margin-bottom: 2rem;
        
    }

    .mar-top-2{
        margin-top: 4rem;
    }
    .column{

        h2{
            font-weight: 600;
            padding-bottom: .5rem;
            margin-bottom: .5rem;
            border-bottom: 1px solid $darkBlue;
        }
        flex-direction: column;
        padding: 1rem;
        border-radius: 4px;
        background-color: $lightBlue;
        color: white;
       .row{
           margin: .5rem 0rem;
    
       }
    }
   
}


@media only screen and (max-width: 1000px){
    .container{
        padding: 3rem 1rem;
    }

    .stats{

        h1{
            margin-bottom: .5rem;
        }
    .stat-container{
        flex-direction: column ;
        .stat{
            margin-right: 0rem;
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    }
}
