body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav-bar {
    background-color: #0D3459;
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav-bar .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav-bar .left i {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-bar .right {
    color: white;
    padding-right: 2rem;
  }
  
  .nav-bar .right span {
    padding-left: .2rem;
  }
  
  .nav-bar h1 {
    color: white !important;
    font-size: 23px;
    padding: 0rem 1.5rem;
  }
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  .round {
    border-radius: 50%;
  }