<nav aria-label="Page navigation" class="d-flex justify-content-center pt-3">
    <ul class="pagination">
        <li class='page-item'><a class='page-link' href='statistics.php'>Statistics</a></li>
        <li class='page-item'><a class='page-link' href='registercomplaint.php'>Register Complaint</a></li>
        <li class='page-item'><a class='page-link' href='opencomplaints.php'>Open Complaints</a></li>
        <li class='page-item'><a class='page-link' href='closedcomplaints.php'>Closed Complaints</a></li>
    </ul>
</nav>