/* #region VARIABLES */
:root
{
    --white: #EBEBEB;
    --gray: #C0C0C0;
    --darkgray: #999999;
    --black: #2e2e2e;

    --red: #C41313;
    --orange: #FF6700;

    --green: #1E9239;

    --lightblue: #3A6EA5;
    --blue: #004E98;
    --darkblue: #0D3459;

    --text: #333333;
}
/* #endregion */

/* #region WEBKITS */
::-webkit-scrollbar{ display: none; }
/* #endregion */

/* #region SHARED */
html, body
{
    height: 100%;
    color: var(--text);
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.nopadding{ padding: 0; }

header
{
    height: 60px;
    color: var(--white);
    background-color: var(--darkblue);
}

h1 a
{
    color: var(--white);
    text-decoration: none;
}

h1 a:hover
{
    color: var(--orange);
    text-decoration: none;
}

#sidebar-wrapper
{
    /* background-color: var(--gray); */
    padding: 15px 0px;
    font-size: 16px;
}

#sidebar-wrapper ul ul{ padding-left: 10px; }

#sidebar-wrapper a
{
    color: var(--blue);
    text-decoration: none;
}

#sidebar-wrapper a:hover
{
    color: var(--darkblue);
    text-decoration: underline;
}

.sidebar-nav ul, .sidebar-nav li
{
    padding: none;
    margin: none;
}

#page-content-wrapper
{
    padding-top: 15px;
    padding-left: 0px;
    padding: 15px 0 0 0;
}
/* #endregion */

/* #region DELIVERIES */
button{ width: 100px; }

.input-group{ border: 1px solid black; }

#deliveriestable{ color: var(--text); }

#deliveriestable tbody tr:hover { cursor: pointer; }

.collapserow{ display: none; }

.deliverystatus{ width: 1%; }

.delivered{ background-color: var(--green); }

.onhold{ background-color: var(--darkgray); }

.notdelivered{ background-color: var(--red); }
/* #endregion */

/* #region DASHBOARD */

/* #endregion */