/* #region VARIABLES */
:root
{
    --white: #EBEBEB;
    --lightgray: #C0C0C0;
    --gray: #999999;
    --darkgray: #3f3f3f;
    --black: #858585;

    --red: #c42121;
    --orange: #FF6700;

    --green: #198b2c;

    --lightblue: #3A6EA5;
    --blue: #004E98;
    --darkblue: #0D3459;

    --text: #333333;
}
/* #endregion */

/* #region WEBKITS */
::-webkit-scrollbar{ display: none; }
/* #endregion */

/* #region SHARED */
html, body
{
    height: 100%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body *
{
    color: var(--text);
}

header
{
    height: 60px;
    color: var(--white);
    background-color: var(--darkblue);
}

header h1 a
{
    color: var(--white);
    text-decoration: none;
}

header h1 a:hover
{
    color: var(--orange);
    text-decoration: none;
}

#sidebar-wrapper /* navbar */
{
    background-color: var(--white);
}

#sidebar-wrapper a
{
    color: var(--blue);
    text-decoration: none;
}

#sidebar-wrapper a:hover{ color: var(--orange); }

#sidebar-wrapper ul > li > ul
{
    padding-left: 10px;
}
/* #endregion */

/* #region DELIVERIES */
#deliveriestable tbody tr:hover{ cursor: pointer; }

/* These rows are filled with details about each delivery, and need to be hidden at the start */
.collapserow{ display: none; }

/* needs to be changed to a better type, here or in php file */
.deliverystatus{ width: 1%; }

.delivered{ background-color: var(--green); }

.onhold{ background-color: var(--gray); }

.notdelivered{ background-color: var(--red); }
/* #endregion */

/* #region STATISTICS */
.graph{ margin: 0 auto; }
/* #endregion */

/* which page does this even apply to... */
#recent
{
    width: 100%;
    table-layout: fixed;
}
