html{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  margin: 0;
  background: rgb(13,52,89);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#2d3130, #174061, #4d5758);
}


.card-logout{
    background-color: #ff6700;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    width: 29em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: #ebebeb;
    color: #3a6ea5;
    font-size: 21px;
    width: 10em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    
  }
  .center{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-logout:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


  form{
    width: 100%;
    height: 100%;
  }

  input[type=submit]{

    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;

  }

  .header {
    overflow: hidden;
    color: white;
  }
  
  .header {
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
  }
  
  .header .logo {
    padding: 12px;
    padding-right: 108px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .header .img {
    position: relative;
    float: left;
    top: 0px;
    width: 6em;
  }

  .header .img,
  .header .logo{
    display: inline-block;
    vertical-align: bottom;
  }