@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

/* #region VARIABLES */
:root
{
    --white: #EBEBEB;
    --gray: #6C757D;
    --darkgray: #999999;
    --black: #2e2e2e;

    --red: #DC3545;
    --orange: #FF6700;
    --green: #28A745;

    --lightblue: #eaf0ff;
    --blue: #004E98;
    --darkblue: #0D3459;

    --text: #333333;
}
/* #endregion */

/* #region WEBKITS */
::-webkit-scrollbar{ display: none; }
/* #endregion */

/* #region SHARED */
html, body
{
    height: 100%;
    color: var(--text);
    -ms-overflow-style: none; 
    scrollbar-width: none;
    font-family: Rubik;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
    color: var(--white);
    background-color: var(--blue);
}

#header-image-container
{
    height: 40px;
    width: 220px;
}

#header-title
{
    color: var(--white);
    text-decoration: none;
}

#header-title:hover
{
    color: var(--orange);
}

#sidebar-wrapper
{
    background-color: var(--lightblue);
    padding: 15px 0px;
    font-size: 16px;
}

#sidebar-wrapper ul li
{
    padding-left: 20px;
    height: 40px;

    color: var(--darkblue);
}

#sidebar-wrapper ul li:hover
{
    cursor: pointer;
    background-color: var(--orange);
}

#sidebar-wrapper a
{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 100%;

    color: var(--darkblue);
}

#sidebar-wrapper a:hover
{
    text-decoration: none;
}

#page-content-wrapper
{
    padding-top: 15px;
    padding-left: 0px;
    padding: 15px 0 0 0;
}

table > *
{
    font-family: Karla;
}

table thead
{
    color: var(--white);
    background-color: var(--blue);
}
/* #endregion */

/* #region LOGIN */
#login
{
    background-color: var(--lightblue);
}

#login-image
{
    height: 120px;
}

#login-forgot
{
    color: var(--blue);
}

#login-forgot:hover
{
    cursor: pointer;
}
/* #endregion */

/* #region DELIVERIES */
#deliveriestable tbody tr:hover{ cursor: pointer; }

/* These rows are filled with details about each delivery, and need to be hidden at the start */
.collapserow{ display: none; }

/* needs to be changed to a better type, here or in php file */
.deliverystatus{ width: 1%; }

.delivered{ background-color: var(--green); }

.onhold{ background-color: var(--gray); }

.notdelivered{ background-color: var(--red); }
/* #endregion */

/* #region STATISTICS */
.graph{ margin: 0 auto; }
/* #endregion */

/* which page does this even apply to... */
#recent
{
    width: 100%;
    table-layout: fixed;
}